<h1> Voici la liste des t창ches </h1>

<%= link_to "Ajouter une t창che", tasks_new_path %>

<% @tasks.each do |task| %>
  <h2> <%= link_to task.name, tasks_path(task) %> </h2>
  <p><%= task.description %></p>
  <p><%= task.status %></p>
  <%= link_to "Supprimer t창che", delete_path(task), method: :delete %>
  <%= link_to "Modifier t창che", edit_path(task) %>
<% end %>
